@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .float-animation {
        animation: float 6s ease-in-out infinite;
    }

    button {
        transition: transform 0.2s ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
